@import "../Styles/Mixins.scss";

.home-header {
    padding-top: 3em;
    padding-bottom: calc(var(--page-padding) + 2em + var(--hh-tr-y));
    background-color: var(--clr-blue);

    ::deep &__input-box {
        @include flex(flex-start, stretch);
        font-size: 1.2em;

        .input {
            background-color: var(--bg-primary);
            flex: 1;
            max-width: 540px;
            margin-right: .5em;
        }
    }
}
