@using MicrosoftDocs.Client.Shared.InputboxComponent;
@using MicrosoftDocs.Client.Shared.ButtonComponent;

<header class="@($"home-header { Class }")">
    <span class="home-header__sub-title sub-title">@SubTitle</span>
    <h1 class="home-header__title">@Title</h1>
    <p class="home-header__text custom-text">
        @ChildContent
    </p>
    <form class="home-header__input-box" @onsubmit="OnSubmit">
        <Inputbox Placeholder="@SearchInputPlaceHolder" Class="input"/>
        <Button ButtonType="submit">
            Search
        </Button>
    </form>
</header>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string SubTitle { get; set; } = "";

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string SearchInputPlaceHolder { get; set; } = "Search";

    [Parameter]
    public EventCallback<EventArgs> OnSubmit { get; set; }

}
