@using MicrosoftDocs.Client.Shared.LogoComponent;
@using MicrosoftDocs.Client.Shared.NavbarComponent;
@using MicrosoftDocs.Client.Shared.PageHeaderComponent;
@using MicrosoftDocs.Client.Shared.FooterComponent;
@inherits LayoutComponentBase

<div class="page">
    <header class="page__header">
        <Navbar />
    </header>

    <main>
        <article class="page__article">
            @Body
        </article>
    </main>

    <Footer />
</div>


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
