@using MicrosoftDocs.Client.Shared.LogoComponent;
@using MicrosoftDocs.Client.Shared.NavbarComponent;
@inherits LayoutComponentBase

<div class="page">
    <div class="page__nav-bar-box">
        <Navbar />
    </div>

    <main>
        <article class="page__article">
            @Body
        </article>
    </main>
</div>


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
