@using MicrosoftDocs.Client.Shared.ButtonComponent;
@using MicrosoftDocs.Client.Shared.ItemsListComponent;

<header class="page-header">
    <div class="page-header__left">
        <ItemsList>
            <ItemsListItem Href="/aspnet" Class="page-header__left__item">
                ASP.NET
            </ItemsListItem>
            <ItemsListItem Class="page-header__left__item">
                <Icon>
                    <MudIcon Icon="@Icons.Filled.KeyboardArrowDown" />
                </Icon>
                <ChildContent>
                    <MudMenu Label="Languages" Color="Color.Inherit" ListClass="page-header__expansion-list"
                                AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                        <MudMenuItem>C#</MudMenuItem>
                        <MudMenuItem>F#</MudMenuItem>
                        <MudMenuItem>Visual Basic</MudMenuItem>
                    </MudMenu>
                </ChildContent>
            </ItemsListItem>
            <ItemsListItem Class="page-header__left__item">
                <Icon>
                    <MudIcon Icon="@Icons.Filled.KeyboardArrowDown" />
                </Icon>
                <ChildContent>
                    <MudMenu Label="Workflows" Color="Color.Inherit" ListClass="page-header__expansion-list"
                                AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                        <MudMenuItem>Web</MudMenuItem>
                        <MudMenuItem>Mobile</MudMenuItem>
                        <MudMenuItem>Cloud</MudMenuItem>
                        <MudMenuItem>Desktop</MudMenuItem>
                        <MudMenuItem>Machine Learning & Data</MudMenuItem>
                    </MudMenu>
                </ChildContent>
            </ItemsListItem>
            <ItemsListItem Class="page-header__left__item">
                <Icon>
                    <MudIcon Icon="@Icons.Filled.KeyboardArrowDown" />
                </Icon>
                <ChildContent>
                    <MudMenu Label="APIs" Color="Color.Inherit" ListClass="page-header__expansion-list"
                                AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                        <MudMenuItem>.Net</MudMenuItem>
                        <MudMenuItem>.Net Framework</MudMenuItem>
                        <MudMenuItem>ASP.NET</MudMenuItem>
                        <MudMenuItem>ML.NET</MudMenuItem>
                        <MudMenuItem>Ef Core</MudMenuItem>
                    </MudMenu>
                </ChildContent>
            </ItemsListItem>
            <ItemsListItem Class="page-header__left__item">
                <Icon>
                    <MudIcon Icon="@Icons.Filled.KeyboardArrowDown" />
                </Icon>
                <ChildContent>
                    <MudMenu Label="Resourses" Color="Color.Inherit" ListClass="page-header__expansion-list"
                                AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                        <MudMenuItem>What is .NET</MudMenuItem>
                        <MudMenuItem>.NET Architecture Guide</MudMenuItem>
                        <MudMenuItem>Learning Materials</MudMenuItem>
                        <MudMenuItem>Downloads</MudMenuItem>
                        <MudMenuItem>Community</MudMenuItem>
                        <MudMenuItem>Support</MudMenuItem>
                        <MudMenuItem>Blog</MudMenuItem>
                    </MudMenu>
                </ChildContent>
            </ItemsListItem>
        </ItemsList>
    </div>

    <div class="page-header__right">
        <Button Href="/download">
            Download .NET
        </Button>
    </div>
</header>

@code {
}
