@import "../Styles/Mixins.scss";

.page-header {
    border-bottom: 1px solid var(--clr-border);
    background-color: var(--bg-primary);
    // Media Query
    @include Laptops {
        border-bottom: 0px none;

        &__container {
            display: none !important;
        }

        &__side-bar {
            display: block !important;
        }
    }

    .container {
        @include flex(space-between);
        padding: 0 var(--page-padding);
    }

    &__side-bar {
        display: none;
    }

    ::deep &__side-menu {
        .top-inputbox {
            flex: 1;
            padding: calc(var(--page-padding) * .65);
            border-right: 1px solid var(--clr-border);

            input {
                border: 1px solid var(--clr-border);
            }
        }

        .bottom-left,
        .bottom-right {
            @include flex();

            > * {
                margin-right: 1em;
            }
        }

        .bottom-left {
            position: relative;

            &__link {
                &:after {
                    @include absolute(0px, 0px, 0px, 0px);
                    content: '';
                }
            }
        }
    }

    &__left {

        ::deep &__item {
            padding-top: 0 !important;
            padding-bottom: 0 !important;

            .active {
                background-color: var(--clr-code-block);
            }

            .mud-button-text {
                padding: var(--page-padding) 0;
                font-weight: inherit;
                font-size: inherit;
                text-transform: none;

                &::after {
                    display: none;
                }
            }
        }
    }
}
