@import "../Styles/Mixins.scss";

.custom-breadcrumbs {
    @include flex(flex-start, flex-end);

    ::deep &__menu {
        &__content {
            min-width: 200px;
            max-width: 250px;
        }
    }

    &__seperator {
        display: inline-block;
        margin: 0 .5em;
    }
}
