@using MicrosoftDocs.Client.Shared.MenuCompenent;
@using MicrosoftDocs.Client.Shared.MultiSectionsListComponent;


<ul class="custom-breadcrumbs @Class">
    <li class="custom-breadcrumbs__item">
        <Menu Class="custom-breadcrumbs__menu"  RTL ContentClass="custom-breadcrumbs__menu__content">
            <Button>
                <MudIcon Icon="@Icons.Filled.MoreHoriz" />
            </Button>
            <ChildContent>
                <MultiSectionsList>
                    @foreach(var (key, value) in Items)
                    {
                        <MultiSectionsListItem>
                            <NavLink href="@key" class="custom-breadcrumbs__link">
                                @value
                            </NavLink>
                        </MultiSectionsListItem>
                    }
                </MultiSectionsList>
            </ChildContent>
        </Menu>
    </li>

    @foreach(var (key, value) in Items.Skip(Items.Count - 3))
    {
        <li class="custom-breadcrumbs__item">
            <NavLink href="@key" class="custom-breadcrumbs__link">
                @value
            </NavLink>
        </li>
    }

</ul>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public Dictionary<string, string> Items { get; set; } = new();
}

