@page "/documentation/dotnet"
@using MicrosoftDocs.Client.Constants
@using MicrosoftDocs.Client.Shared.SectionComponent
@using MicrosoftDocs.Client.Shared.TitledListComponent
@using MicrosoftDocs.Client.Shared.TutorialItemComponent
@using mud = MudBlazor;
@using MicrosoftDocs.Client.Models
@using MicrosoftDocs.Client.Shared.ButtonComponent
@using MicrosoftDocs.Client.Shared.ItemsListComponent
@using MicrosoftDocs.Client.Shared.PageHeaderComponent

<PageTitle>
    .NET Documentation | Microsoft Docs
</PageTitle>

<div class="dotnet-page">
    <PageHeader Title=".NET" Href="/documentation/dotnet" 
                Items="@(PageHeaderItems.ItemsLists.FirstOrDefault(i => i.Name == "dotnet").Items)"/>

    <Section Title=".NET documentation" Class="dotnet-page__header"
                Description="Learn to use .NET to create applications on any platform using C#, F#, and Visual Basic. Browse API reference, sample code, tutorials, and more." />


    <Section Class="dotnet-page__tutorials">
        <ul class="dotnet-page__tutorials__list">
            <TutorialItem SubTitle="Download" Href="https://www.fakeurl.c/" ImageUrl="/images/download.svg">
                Download .NET
            </TutorialItem>
            <TutorialItem SubTitle="Learn" Href="/learn/" ImageUrl="/images/learn.svg">
                Build .NET Apps with C#
            </TutorialItem>
            <TutorialItem SubTitle="Tutorial" Href="/learn/" ImageUrl="/images/tutorial.svg">
                Create your first console app
            </TutorialItem>
            <TutorialItem SubTitle="Learn" Href="https://www.fakeurl.c/" ImageUrl="/images/learn.svg">
                Create your first web app
            </TutorialItem>
            <TutorialItem SubTitle="Learn" Href="/learn/" ImageUrl="/images/learn.svg">
                Browse .NET learning paths
            </TutorialItem>
            <TutorialItem SubTitle="Get Started" Href="/learn/" ImageUrl="/images/get-started.svg">
                Interactive introduction to C#
            </TutorialItem>
            <TutorialItem SubTitle="What's new" Href="/learn/" ImageUrl="/images/whats-new.svg">
                What's new in .NET docs
            </TutorialItem>
            <TutorialItem SubTitle="Overview" Href="/learn/" ImageUrl="/images/overview.svg">
                Azure for .NET developers
            </TutorialItem>
        </ul>
    </Section>

    <Section Title=".NET: Free. Cross platform. Open source." Class="dotnet-page__overview"
                Description="A developer platform for building all your apps: web, mobile, desktop, gaming, IoT, and more. Supported on Windows, Linux, and macOS.">
        <ul class="dotnet-page__overview__list">
            <TitledList Title="Open source .NET" Items="overviewListItems"/>
            <TitledList Title=".NET concepts" Items="overviewListItems"/>
            <TitledList Title="Develop .NET apps" Items="overviewListItems"/>
            <TitledList Title=".NET architectural guides" Items="overviewListItems"/>
        </ul>
    </Section>

    <Section Title="Programming languages" Description="You can write .NET apps in C#, F#, or Visual Basic."
                Class="dotnet-page__languages">

    </Section>

    <Section Title="Create your application" Description="You can choose web, mobile, desktop, gaming, IoT, and more."
                Class="dotnet-page__create">
        <ul class="dotnet-page__create__list">
            <TitledList Title=".NET architectural guides" Items="createListItems"/>
        </ul>
    </Section>

    <Section Title="API and language reference" Description="Search the .NET API and language reference documentation."
                Class="dotnet-page__apis">
        <ul class="dotnet-page__apis__list">
            <TitledList Title=".NET API reference" Href="/" Items="apisLists.ElementAt(0)" />
            <TitledList Title=".NET Framework API reference" Href="/" Items="apisLists.ElementAt(1)" />
            <TitledList Title="ASP.NET Core API reference" Href="/" Items="apisLists.ElementAt(2)" />
            <TitledList Title="ML.NET API reference" Href="/" Items="apisLists.ElementAt(3)" />
        </ul>

        <p class="">
            Are you interested in contributing to the .NET docs? For more information, see our 
            <NavLink href="/">
                contributor guide.
            </NavLink>
        </p>
    </Section>
</div>


@code {
    private List<TitledListItemModel> overviewListItems = new()
    {
        new(".NET overview", "bi bi-map", "/documentation/dotnet/"),
        new(".NET tutorials", "bi bi-journal-code", "/documentation/dotnet/"),
        new("What's new in .NET 6", "bi bi-megaphone", "/documentation/dotnet/"),
        new("Deploy .NET apps", "bi bi-file-code", "/documentation/dotnet/"),
        new(".NET Foundation", "bi bi-map", "/documentation/dotnet/"),
        new(".NET developer community", "bi bi-megaphone", "/documentation/dotnet/"),
        new("Library guidance", "bi bi-diagram-3", "/documentation/dotnet/"),
    };

    private List<TitledListItemModel> createListItems = new()
    {
        new(".NET overview", Href: "/documentation/dotnet/"),
        new(".NET tutorials", Href: "/documentation/dotnet/"),
        new("What's new in .NET 6", Href: "/documentation/dotnet/"),
        new("Deploy .NET apps", Href: "/documentation/dotnet/"),
        new(".NET Foundation", Href: "/documentation/dotnet/"),
        new(".NET developer community", Href: "/documentation/dotnet/"),
        new("Library guidance", Href: "/documentation/dotnet/"),
    };

    private List<List<TitledListItemModel>> apisLists = new()
    {
        new() { new("API reference documentation for .NET "), },
        new() { new("API reference documentation for .NET Framework "), },
        new() { new("API reference documentation for ASP.NET Core "), },
        new() { new("API reference documentation for ML.NET "), }
    };
}
