@page "/"
@using MicrosoftDocs.Client.Shared.InputboxComponent;
@using MicrosoftDocs.Client.Shared.ButtonComponent;
@using MicrosoftDocs.Client.Shared.DestinationItemComponent;
@using MicrosoftDocs.Client.Shared.DirectoryItemComponent;
@using MicrosoftDocs.Client.Shared.FeatureItemComponent;
@using MicrosoftDocs.Client.Shared.ResourceItemComponent;
@using MicrosoftDocs.Client.Shared.HomeHeaderComponent;
@using MicrosoftDocs.Client.Shared.SectionComponent

<div class="home-page">
    <HomeHeader SearchInputPlaceHolder="Search for articles, traning, and code samples"
                    Title="Microsoft technical documentation"
                    Description="The home for Microsoft documentation and learning for developers and technology professionals." />

    <Section Class="home-page__destinations">
        <ul class="home-page__destinations__list">
            <DestinationItem Title="Documentation">
                <Icon>
                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M50.625 16.02V42.6713H30.24C29.8532 43.1547 29.3708 43.553 28.8229 43.8414C28.2751 44.1299 27.6737 44.3022 27.0562 44.3475C25.8525 44.3475 25.1775 43.9763 23.8725 42.6713H3.375V16.02H7.3125V37.125L23.8612 38.25C24.6992 38.367 25.4663 38.7836 26.0206 39.4228C26.575 40.0619 26.8789 40.8802 26.8762 41.7263H27.0675C27.0672 40.8809 27.372 40.0638 27.9259 39.4252C28.4798 38.7865 29.2456 38.3692 30.0825 38.25L46.6425 37.125V16.02H50.625Z" fill="white"></path>
                        <path d="M27.0001 41.8051C27.0004 40.9597 26.6956 40.1426 26.1417 39.504C25.5878 38.8653 24.822 38.4481 23.9851 38.3288L7.39136 37.1251V9.65259L23.4564 10.7776C23.9216 10.7746 24.3828 10.8639 24.8134 11.0402C25.244 11.2165 25.6353 11.4764 25.9648 11.8049C26.2943 12.1334 26.5555 12.5239 26.7332 12.9539C26.9109 13.3839 27.0016 13.8448 27.0001 14.3101V41.8051Z" fill="#0065B3"></path>
                        <path d="M27 41.8052C26.9997 40.9598 27.3045 40.1427 27.8584 39.5041C28.4123 38.8654 29.1781 38.4482 30.015 38.3289L46.575 37.1252V9.87769L30.51 10.7889C29.5781 10.7919 28.6853 11.1642 28.0274 11.8243C27.3694 12.4843 27 13.3782 27 14.3102V41.8052Z" fill="#0065B3"></path>
                        <path d="M26.7525 41.8051C26.7552 40.9591 26.4512 40.1407 25.8969 39.5016C25.3425 38.8624 24.5754 38.4458 23.7375 38.3288L7.18872 37.1251V9.65259L23.2425 10.7776C24.1744 10.7806 25.0672 11.1529 25.7251 11.8129C26.383 12.4729 26.7525 13.3669 26.7525 14.2988V41.8051Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10"></path>
                        <path d="M27 42.2775C26.9973 41.4315 27.3013 40.6131 27.8556 39.974C28.41 39.3348 29.1771 38.9182 30.015 38.8012L46.5638 37.6762V10.125L30.51 11.25C29.5781 11.253 28.6853 11.6253 28.0274 12.2853C27.3695 12.9454 27 13.8393 27 14.7712V42.2775Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10"></path>
                        <path d="M26.9663 32.0063C31.067 32.0063 34.3913 28.682 34.3913 24.5813C34.3913 20.4805 31.067 17.1562 26.9663 17.1562C22.8655 17.1562 19.5413 20.4805 19.5413 24.5813C19.5413 28.682 22.8655 32.0063 26.9663 32.0063Z" fill="#4DB2FF"></path>
                        <path d="M22.8826 24.8627L25.6163 27.5964L30.3863 21.5552" stroke="#0065B3" stroke-width="1.39" stroke-miterlimit="10"></path>
                    </svg>
                </Icon>
                <ChildContent>
                     <strong>Search</strong> our expansive documentation resources for Microsoft products.
                </ChildContent>
            </DestinationItem>
            <DestinationItem Title="Learn">
                <Icon>
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="40" viewBox="0 0 42 40" fill="none">
                        <path d="M24.5 31.584V37.7253H17.5V31.584H24.5ZM26.25 29.8293H15.75V39.48H26.25V29.8293Z" fill="white"></path>
                        <path d="M31.5 37.7253H10.5V39.48H31.5V37.7253Z" fill="white"></path>
                        <path d="M39.375 1.75467C39.9 1.75467 40.25 2.1056 40.25 2.632V24.5653H1.75V2.632C1.75 2.1056 2.1 1.75467 2.625 1.75467H39.375ZM39.375 0H2.625C1.1375 0 0 1.14053 0 2.632V26.32H42V2.632C42 1.14053 40.8625 0 39.375 0Z" fill="white"></path>
                        <path d="M40.25 26.3201V28.9521C40.25 29.4785 39.9 29.8294 39.375 29.8294H2.625C2.1 29.8294 1.75 29.4785 1.75 28.9521V26.3201H40.25ZM42 24.5654H0V28.9521C0 30.4436 1.1375 31.5841 2.625 31.5841H39.375C40.8625 31.5841 42 30.4436 42 28.9521V24.5654Z" fill="white"></path>
                        <path d="M21 8.59778C17.4125 5.61485 10.5 5.26392 10.5 5.26392V18.4239C15.6625 17.6343 21 21.0559 21 21.0559C21 21.0559 26.3375 17.6343 31.5 18.4239V5.26392C31.5 5.26392 24.2375 5.96578 21 8.59778Z" fill="#50E6FF"></path>
                    </svg>
                </Icon>
                <ChildContent>
                     <strong>Discover</strong> training paths by role, subject matter, or technology.
                </ChildContent>
            </DestinationItem>
            <DestinationItem Title="Q&A">
                <Icon>
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="36" viewBox="0 0 42 36" fill="none">
                        <path d="M29.75 1.75C30.275 1.75 30.625 2.1 30.625 2.625V21.875H14.875L7.525 27.65V21.875H2.625C2.1 21.875 1.75 21.525 1.75 21V2.625C1.75 2.1 2.1 1.75 2.625 1.75H29.75ZM29.75 0H2.625C1.1375 0 0 1.1375 0 2.625V21C0 22.4875 1.1375 23.625 2.625 23.625H5.775V27.65V31.2375L8.575 29.05L15.4875 23.7125H30.625H32.375V21.9625V2.625C32.375 1.1375 31.2375 0 29.75 0Z" fill="white"></path>
                        <path d="M39.375 14H21C19.5125 14 18.375 15.1375 18.375 16.625V27.125C18.375 28.6125 19.5125 29.75 21 29.75H30.0125L33.95 32.9L36.75 35.175V31.5V29.75H39.375C40.8625 29.75 42 28.6125 42 27.125V16.625C42 15.1375 40.8625 14 39.375 14Z" fill="#00518F"></path>
                    </svg>
                </Icon>
                <ChildContent>
                     <strong>Ask</strong> questions and learn from others in the technical community.
                </ChildContent>
            </DestinationItem>
            <DestinationItem Title="Documentation">
                <Icon>
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="44" viewBox="0 0 36 44" fill="none">
                        <path d="M27 1.8V7.2V9H28.8H34.2V41.4H1.8V1.8H27ZM28.8 0H1.8C0.81 0 0 0.81 0 1.8V41.4C0 42.39 0.81 43.2 1.8 43.2H34.2C35.19 43.2 36 42.39 36 41.4V7.2H28.8V0Z" fill="white"></path>
                        <path d="M28.8 2.52L33.48 7.2H28.8V2.52ZM28.8 0H27V9H36V7.2L28.8 0Z" fill="white"></path>
                        <path d="M11.9699 28.9801L5.6699 22.6801C5.3099 22.3201 5.3099 21.7801 5.6699 21.4201L11.9699 15.1201L13.2299 16.3801L7.5599 22.0501L13.2299 27.7201L11.9699 28.9801Z" fill="#0065B3"></path>
                        <path d="M24.0298 28.9801L22.7698 27.7201L28.4398 22.0501L22.7698 16.3801L24.0298 15.1201L30.3298 21.4201C30.6898 21.7801 30.6898 22.3201 30.3298 22.6801L24.0298 28.9801Z" fill="#0065B3"></path>
                        <path d="M17.7299 30.1501H15.9299L18.4499 14.8501H20.2499L17.7299 30.1501Z" fill="#0065B3"></path>
                    </svg>
                </Icon>
                <ChildContent>
                     <strong>Explore</strong> our samples and discover the things you can build.
                </ChildContent>
            </DestinationItem>
        </ul>
    </Section>

    <Section SubTitle="Index" Title="Product Directory" Class="home-page__directory">
        <ul class="home-page__directory__list">
            <DirectoryItem Href="/documentation/dotnet">
                .NET
            </DirectoryItem>
            <DirectoryItem Href="/documentation/aspnet">
                ASP.NET
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure">
                Azure
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure-archi">
                Azure Architecture Center
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure-devOps">
                Azure DevOps
            </DirectoryItem>
            <DirectoryItem Href="/documentation/cpp">
                C++
            </DirectoryItem>
            <DirectoryItem Href="/documentation/csharp">
                C#
            </DirectoryItem>
            <DirectoryItem Href="/documentation/dynamics-365">
                Dynamics 365 
            </DirectoryItem>
            <DirectoryItem Href="/documentation/gaming">
                Gaming
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-365">
                Microsoft 365 
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-edge">
                Microsoft Edge
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-security">
                Microsoft Security
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-teams">
                Microsoft Teams
            </DirectoryItem>
            <DirectoryItem Href="/documentation/one-drive">
                OneDrive
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-apps">
                Power Apps
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-bi">
                Power BI
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-platform">
                Power Platform
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-shell">
                PowerShell
            </DirectoryItem>
            <DirectoryItem Href="/documentation/share-point">
                SharePoint
            </DirectoryItem>
            <DirectoryItem Href="/documentation/sql-server">
                SQL Server
            </DirectoryItem>
            <DirectoryItem Href="/documentation/visual-basic">
                Visual Basic
            </DirectoryItem>
            <DirectoryItem Href="/documentation/visual-studio">
                Visual Studio
            </DirectoryItem>
            <DirectoryItem Href="/documentation/windows">
                Windows
            </DirectoryItem>
            <DirectoryItem Href="/documentation/xamarin">
                Xamarin
            </DirectoryItem>
        </ul>

        <p class="custom-text">
            Don't see what you're looking for? 
            <NavLink href="/documentation">View entire directory</NavLink>
        </p>
    </Section>

    <Section SubTitle="Featured" Title="Microsoft Learn" Class="home-page__feature"
                ImageUrl="/images/docs-and-friends-selfie-stick.png"
                Description="Whether you're just starting or an experienced professional, our hands-on approach helps you arrive at your goals faster, with more confidence and at your own pace.">
        <ul class="home-page__feature__list">
            <FeatureItem ImageUrl="/images/featured-learning-paths.png" SubTitle="Learning paths"
                            Title="Learn on your own schedule" LinkContent="Browse all learning options">
                Explore a topic in-depth through guided paths or learn how to accomplish a specific task through individual modules
            </FeatureItem>
            <FeatureItem ImageUrl="/images/featured-certifications.png" SubTitle="Certirications"
                            Title="Become Microsoft certified" LinkContent="Explore certifications">
                Jump-start your career and demonstrate your achievements through industry-recognized Microsoft certifications.
            </FeatureItem>
            <FeatureItem ImageUrl="/images/featured-learn-tv.png" SubTitle="Learn TV"
                            Title="Watch live and recorded events" LinkContent="Start watching now">
                View streaming technical content about Microsoft products from the experts that build and use it every day.
            </FeatureItem>
        </ul>
    </Section>


    <Section Title="Recommended Resources" Class="home-page__recommended">
        <ul class="home-page__recommended__list">
            <ResourceItem Title="Startups" ImageUrl="/images/startups-icon.svg">
                Stronger together: Calling Social Entrepreneurs around the globe with COVID-19 solutions.
            </ResourceItem>
            <ResourceItem Title="Students" ImageUrl="/images/students-icon.svg">
                Put professional developer tools and software in the hands of students.
            </ResourceItem>
            <ResourceItem Title="Learn TV" ImageUrl="/images/learn-tv-icon.svg">
                Video content by developers and technical enthusiasts devoted to including you in the conversation.
            </ResourceItem>
        </ul>
        <p class="custom-text">Interested in the latest announcements and updates to Microsoft Docs? 
            <NavLink href="/team-blog">Check out the team blog</NavLink>
        </p>
    </Section>
</div>

@code {

}
