@page "/"
@using MicrosoftDocs.Client.Shared.InputboxComponent;
@using MicrosoftDocs.Client.Shared.ButtonComponent;
@using MicrosoftDocs.Client.Shared.DestinationItemComponent;
@using MicrosoftDocs.Client.Shared.DirectoryItemComponent;
@using MicrosoftDocs.Client.Shared.FeatureItemComponent;
@using MicrosoftDocs.Client.Shared.PageHeaderComponent
@using MicrosoftDocs.Client.Shared.ResourceItemComponent;
@using MicrosoftDocs.Client.Shared.HomeHeaderComponent;
@using MicrosoftDocs.Client.Shared.SectionComponent

<PageTitle>
    Developer tools, technical documentation and coding examples | Microsoft Docs
</PageTitle>

<div class="home-page">
    <PageHeader />

    <HomeHeader SearchInputPlaceHolder="Search for articles, traning, and code samples"
                    Title="Microsoft technical documentation"
                    Description="The home for Microsoft documentation and learning for developers and technology professionals." />

    <Section Class="home-page__destinations">
        <ul class="home-page__destinations__list">
            <DestinationItem Title="Documentation" ImageUrl="/images/home-documentation.svg" Href="/documentation">
                 <strong>Search</strong> our expansive documentation resources for Microsoft products.
            </DestinationItem>
            <DestinationItem Title="Learn" ImageUrl="/images/home-learn.svg">
                 <strong>Discover</strong> training paths by role, subject matter, or technology.
            </DestinationItem>
            <DestinationItem Title="Q&A" ImageUrl="/images/home-q-a.svg">
                 <strong>Ask</strong> questions and learn from others in the technical community.
            </DestinationItem>
            <DestinationItem Title="Code samples" ImageUrl="/images/home-code-samples.svg">
                 <strong>Explore</strong> our samples and discover the things you can build.
            </DestinationItem>
        </ul>
    </Section>

    <Section SubTitle="Index" Title="Product Directory" Class="home-page__directory">
        <ul class="home-page__directory__list">
            <DirectoryItem Href="/documentation/dotnet">
                .NET
            </DirectoryItem>
            <DirectoryItem Href="/documentation/aspnet">
                ASP.NET
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure">
                Azure
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure-archi">
                Azure Architecture Center
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure-devOps">
                Azure DevOps
            </DirectoryItem>
            <DirectoryItem Href="/documentation/cpp">
                C++
            </DirectoryItem>
            <DirectoryItem Href="/documentation/csharp">
                C#
            </DirectoryItem>
            <DirectoryItem Href="/documentation/dynamics-365">
                Dynamics 365 
            </DirectoryItem>
            <DirectoryItem Href="/documentation/gaming">
                Gaming
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-365">
                Microsoft 365 
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-edge">
                Microsoft Edge
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-security">
                Microsoft Security
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-teams">
                Microsoft Teams
            </DirectoryItem>
            <DirectoryItem Href="/documentation/one-drive">
                OneDrive
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-apps">
                Power Apps
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-bi">
                Power BI
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-platform">
                Power Platform
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-shell">
                PowerShell
            </DirectoryItem>
            <DirectoryItem Href="/documentation/share-point">
                SharePoint
            </DirectoryItem>
            <DirectoryItem Href="/documentation/sql-server">
                SQL Server
            </DirectoryItem>
            <DirectoryItem Href="/documentation/visual-basic">
                Visual Basic
            </DirectoryItem>
            <DirectoryItem Href="/documentation/visual-studio">
                Visual Studio
            </DirectoryItem>
            <DirectoryItem Href="/documentation/windows">
                Windows
            </DirectoryItem>
            <DirectoryItem Href="/documentation/xamarin">
                Xamarin
            </DirectoryItem>
        </ul>

        <p class="custom-text">
            Don't see what you're looking for? 
            <NavLink href="/documentation">View entire directory</NavLink>
        </p>
    </Section>

    <Section SubTitle="Featured" Title="Microsoft Learn" Class="home-page__feature"
                ImageUrl="/images/docs-and-friends-selfie-stick.png"
                Description="Whether you're just starting or an experienced professional, our hands-on approach helps you arrive at your goals faster, with more confidence and at your own pace.">
        <ul class="home-page__feature__list">
            <FeatureItem ImageUrl="/images/featured-learning-paths.png" SubTitle="Learning paths"
                            Title="Learn on your own schedule" LinkContent="Browse all learning options">
                Explore a topic in-depth through guided paths or learn how to accomplish a specific task through individual modules
            </FeatureItem>
            <FeatureItem ImageUrl="/images/featured-certifications.png" SubTitle="Certirications"
                            Title="Become Microsoft certified" LinkContent="Explore certifications">
                Jump-start your career and demonstrate your achievements through industry-recognized Microsoft certifications.
            </FeatureItem>
            <FeatureItem ImageUrl="/images/featured-learn-tv.png" SubTitle="Learn TV"
                            Title="Watch live and recorded events" LinkContent="Start watching now">
                View streaming technical content about Microsoft products from the experts that build and use it every day.
            </FeatureItem>
        </ul>
    </Section>


    <Section Title="Recommended Resources" Class="home-page__recommended">
        <ul class="home-page__recommended__list">
            <ResourceItem Title="Startups" ImageUrl="/images/startups-icon.svg">
                Stronger together: Calling Social Entrepreneurs around the globe with COVID-19 solutions.
            </ResourceItem>
            <ResourceItem Title="Students" ImageUrl="/images/students-icon.svg">
                Put professional developer tools and software in the hands of students.
            </ResourceItem>
            <ResourceItem Title="Learn TV" ImageUrl="/images/learn-tv-icon.svg">
                Video content by developers and technical enthusiasts devoted to including you in the conversation.
            </ResourceItem>
        </ul>
        <p class="custom-text">Interested in the latest announcements and updates to Microsoft Docs? 
            <NavLink href="/team-blog">Check out the team blog</NavLink>
        </p>
    </Section>
</div>

@code {

}
