@import "../Styles/Mixins.scss";

.custom-menu {
    position: relative;

    &.rtl {
        .custom-menu__content {
            @include absolute(0px, 100%, auto, auto, 0px, 12px);
        }

        .custom-menu__square {
            transform: translate(0px, calc(12px - 50%)) rotate(45deg);
        }
    }

    &__checkbox {
        display: none;

        &:checked {
            + .custom-menu__content {
                display: block;

                + .custom-menu__square {
                    display: block;
                }
            }
        }
    }

    &__square {
        @include absolute(auto, 100%, 0px, auto);
        z-index: 1001;
        $size: 10px;
        width: $size;
        height: $size;
        transform: translate(-13px, calc(12px - 50%)) rotate(45deg);
        background-color: var(--bg-primary);
        $border: 1px solid var(--clr-border);
        border-left: $border;
        border-top: $border;
        display: none;
    }

    &__content {
        @include absolute(auto, 100%, 0px, auto, 0px, 12px);
        z-index: 1001;
        display: none;
        background-color: var(--bg-primary);
        border: 1px solid var(--clr-border);
        padding: var(--page-padding);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
        min-width: 200px;
        max-width: 400px;
    }
}
