<div class="@("custom-menu " + Class + (Visiable ? " visiable" : "") + (RTL ? " rtl" : ""))" 
            @onblur="() => Visiable = false" tabindex="0">
    <div class="custom-menu__button-box clickable @ButtonClass">
        @Button
    </div>

    <div class="@("custom-menu__content " + $" {ContentClass}")">
        @ChildContent
    </div>
</div>


@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string ButtonClass { get; set; } = "";

    [Parameter]
    public string ContentClass { get; set; } = "";

    [Parameter]
    public RenderFragment Button { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Visiable { get; set; }

    [Parameter]
    public bool RTL { get; set; }
}
