@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --clr-primary: #75b6e7;
    --clr-primary-lighter: #004173;
    --clr-secondary: #404040;
    --clr-text: #e6e6e6;
    --clr-text-light: #fff;
    --clr-text-paragraph: #d2d2d2;
    --clr-border-box: var(--clr-text-paragraph);
    --clr-highlight: #0b6413;
    --clr-code-block: #2f2f2f;
    --clr-hyperlink: var(--clr-primary);
    --clr-hyperlink-hover: #278cda;
    --clr-hyperlink-visited: #ac7ee1;
    --clr-border: #404040;
    --bg-primary: #171717;
    --page-padding: 16px;
    --ff-primary: 'Noto Sans', sans-serif;
}

html,
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--ff-primary) !important;
}

body {
    margin: 0 !important;
    background-color: var(--bg-primary);
    color: var(--clr-text);
    fill: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

img[src=""] {
    display: none;
}

svg {
    fill: inherit;
}

ul {
    list-style-type: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

p {
    margin: 1.3em 0;
}

a {
    text-decoration: none;
    color: var(--clr-hyperlink);
    font-weight: 300;
    cursor: pointer;
}

a.outer-link::after {
    content: '⎋';
    display: inline-block;
    padding-right: .5em;
    transform: rotate(90deg);
}

a:hover {
    text-decoration: underline;
    color: var(--clr-hyperlink-hover);
}

a:visited {
    color: var(--clr-hyperlink-visited);
}

input {
    font: inherit;
    color: inherit;
    outline: none;
}

input::placeholder {
    font-weight: 300;
    opacity: .5;

}

/* Cutsom Classes */

.clickable { cursor: pointer; }

/*
.focusable:focus-within {
    outline: 2px dashed var(--clr-text-light);
    padding: .2em;
} 
*/


/* Customization for MudComponents */

.mud-icon-root {
    width: .7em !important;
}

.mud-icon-root.mud-svg-icon{
    fill: inherit;
}

.mud-paper {
    background-color: var(--bg-primary) !important;
    color: var(--clr-hyperlink);
    border-radius: 0px 0px 2px 2px;
}

.mud-paper .mud-list {
    border: 1px solid var(--clr-border);
}

.mud-paper .mud-list .mud-typography {
    font-size: 1em;
}
