<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(NotFoundLayout)">
            <h6 role="alert">Sorry, there's nothing at this address.</h6>
        </LayoutView>
    </NotFound>
</Router>
