@import "../Styles/Mixins.scss";

.articles-nav {
    @include flex(flex-start, flex-start, column);
    min-width: var(--mw-side-menu);

    @include Tablets {
        display: none;
    }

    ::deep .mud-select {
        flex: auto 0;
        width: 100%;
    }

    ::deep &__select-box {
        flex: auto 0;
        width: 100%;

        .mud-input > input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
            padding: .7em;
        }

        .mud-select-input {
            color: var(--clr-text);
            font-size: 1em;

            &:hover {

                .mud-input-outlined-border {
                    border-color: var(--clr-text) !important;
                }
            }
        }

        .mud-input-outlined-border {
            border-color: var(--clr-text);
            border-radius: 2px;
        }
    }

    ::deep &__treeview {
        overflow: auto;
        margin: .7em 0;
        width: 100%;

        .mud-treeview-item-arrow {
            margin: 0;
            width: 1em;
        }

        .mud-icon-button,
        .mud-treeview-item-content {
            padding: 0;
        }

        .mud-icon-button {
            &::after {
                display: none;
            }

            &:hover {
                background-color: inherit;
            }
        }

        .mud-treeview-item-content {
            cursor: pointer;

            &:hover:not(.cursor-pointer) {
                text-decoration: underline;
            }
        }

        .mud-typography-body1 {
            font-size: 1em;
            font-weight: 300;
        }
    }
}
