@import "../Styles/Mixins.scss";

.custom-list {

    ::deep > li {
        display: inline-block;
        padding: var(--page-padding) .5em;
        cursor: pointer;
        font-size: .97em;
        user-select: none;

        .mud-button {
            min-width: auto;
            font-weight: 300;
        }

        .mud-paper {
            color: var(--clr-hyperlink);
        }

        &:first-child {
            font-size: 1.2em;

            .text,
            a {
                font-weight: 600;

                a.active {
                    border-bottom-width: 0px;
                }
            }
        }

        &:hover {
            .text,
            a {
                text-decoration: none;
                border-bottom: 2px solid var(--clr-text);
            }
        }

        .text,
        a {
            color: var(--clr-text-light);

            &.active {
                border-bottom: 2px solid var(--clr-text);
                background-color: inherit;
            }
        }
    }
}
