<li class="@Class" @onclick="OnClick">
    @if(Href is not null)
    {
        <NavLink href="@Href">
            @ChildContent
        </NavLink>
    }
    else
    {
        <span class=text>
            @ChildContent
        </span>
    }
    @Icon
</li>

@code {
    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public RenderFragment Icon { get; set; }

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
