@page "/documentation"
@using MicrosoftDocs.Client.Shared.HomeHeaderComponent;
@using MicrosoftDocs.Client.Shared.DirectoryItemComponent;
@using MicrosoftDocs.Client.Shared.ResourceItemComponent
@using MicrosoftDocs.Client.Shared.SectionComponent


<div class="documentation-page">
    <HomeHeader SearchInputPlaceHolder="Search documentation" Class="documentation-page__header"
                    Title="Technical documentation" SubTitle="Welcome to Microsoft Documentation"
                    Description="Search for in-depth articles on Microsoft developer tools and technologies." />

    <Section SubTitle="Index" Title="Product Directory" Class="documentation-page__directory"
                Description="Explore our guides and articles by product.">
        <ul class="documentation-page__directory__list">
            <DirectoryItem Href="/documentation/dotnet">
                .NET
            </DirectoryItem>
            <DirectoryItem Href="/documentation/aspnet">
                ASP.NET
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure">
                Azure
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure-archi">
                Azure Architecture Center
            </DirectoryItem>
            <DirectoryItem Href="/documentation/azure-devOps">
                Azure DevOps
            </DirectoryItem>
            <DirectoryItem Href="/documentation/cpp">
                C++
            </DirectoryItem>
            <DirectoryItem Href="/documentation/csharp">
                C#
            </DirectoryItem>
            <DirectoryItem Href="/documentation/dynamics-365">
                Dynamics 365 
            </DirectoryItem>
            <DirectoryItem Href="/documentation/gaming">
                Gaming
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-365">
                Microsoft 365 
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-edge">
                Microsoft Edge
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-security">
                Microsoft Security
            </DirectoryItem>
            <DirectoryItem Href="/documentation/microsoft-teams">
                Microsoft Teams
            </DirectoryItem>
            <DirectoryItem Href="/documentation/one-drive">
                OneDrive
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-apps">
                Power Apps
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-bi">
                Power BI
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-platform">
                Power Platform
            </DirectoryItem>
            <DirectoryItem Href="/documentation/power-shell">
                PowerShell
            </DirectoryItem>
            <DirectoryItem Href="/documentation/share-point">
                SharePoint
            </DirectoryItem>
            <DirectoryItem Href="/documentation/sql-server">
                SQL Server
            </DirectoryItem>
            <DirectoryItem Href="/documentation/visual-basic">
                Visual Basic
            </DirectoryItem>
            <DirectoryItem Href="/documentation/visual-studio">
                Visual Studio
            </DirectoryItem>
            <DirectoryItem Href="/documentation/windows">
                Windows
            </DirectoryItem>
            <DirectoryItem Href="/documentation/xamarin">
                Xamarin
            </DirectoryItem>
        </ul>
    </Section>


    <Section Title="Recommended Resources" Class="documentation-page__recommended">
        <ul class="documentation-page__recommended__list">
            <ResourceItem Title="Microsoft End User Support" ImageUrl="/images/end-user-community-icon.svg">
                Get end user support for Office, Windows, Surface, and more. Visit our Microsoft support site for assistance.
            </ResourceItem>
            <ResourceItem Title="Microsoft End User Community" ImageUrl="/images/end-user-support-icon.svg">
                End user Questions, issues, discussions, and knowledge sharing. Visit our Microsoft answers community to begin.
            </ResourceItem>
        </ul>
    </Section>
</div>
@code {

}
