.custom-button {
    display: inline-block;
    margin: 0 .1em;

    &__button {
        color: #000;
        border-radius: 2px;
        background-color: var(--clr-primary);
        padding: calc(var(--page-padding) / 2) calc(var(--page-padding) / 1.5);
        display: inline-block;
    }

    ::deep &__link {
        font-weight: 500;
        color: #000;
        border-radius: 2px;
        background-color: var(--clr-primary);
        padding: calc(var(--page-padding) / 2) calc(var(--page-padding) / 1.5);
        display: inline-block;

        &:hover {
            background-color: var(--clr-hyperlink-hover);
        }
    }
}

