@import "../../Shared/Styles/Mixins.scss";

.article-page {

    &__container {
        @include flex(space-between, flex-start);
        padding: 0 var(--page-padding);
        position: relative;
    }

    ::deep > * {
        padding-top: calc(var(--page-padding) * 2);
        padding-bottom: calc(var(--page-padding) * 2);
    }

    ::deep &__articles-nav {
        position: sticky;
        top: 0;
        bottom: 0;
        max-height: 88vh;
        overflow: auto;
    }

    ::deep &__expansion-list {
        position: sticky;
        top: var(--page-padding);

        @include Desktop {
            display: none;
        }
    }
}
