<form >
    <h3>Is this page helpful?</h3>

    <div>
        <MudButton Icon="@Icons.Filled.ThumbUpAlt">
            Yes
        </MudButton>
        <MudButton Icon="@Icons.Filled.ThumbDownAlt">
            No
        </MudButton>
    </div>
</form>

@code {

}
