<PageTitle>
    404 - Content Not Found | Microsoft Docs
</PageTitle>

<section class="not-found">
    <div class="not-found__container container">
        <div class="not-found__container__left">
            <h1>404 - Page not found</h1>
            <p class="">
                Hmm, we couldn't find this link, but here are some related 
                <NavLink href="search">
                    search results 
                </NavLink>
                that may be helpful.
            </p>
        </div>

        <div class="not-found__container__right">
            <img src="/images/not-found.svg">
        </div>
    </div>
</section>

@code {

}
