@import "../Styles/Mixins.scss";

.not-found {
    &__container {
        @include flex(space-between, flex-start);
        padding: calc(var(--page-padding) * 2) 2em;

        &__left,
        &__right {
            padding: var(--page-padding);
            font-size: 1.5em;
            font-weight: 600;
        }
        
        &__right {
            width: 275px;
        }
    }
}
