<footer class="page-footer">
    <ul class="page-footer__left">
        <li class="page-footer__left__list-item">
            <NavLink href="/">English</NavLink>
        </li>
        <li class="page-footer__left__list-item">
            <NavLink href="/">Theme</NavLink>
        </li>
    </ul>

    <ul class="page-footer__right">
        <li class="page-footer__right__list-item">
            <NavLink href="/">Previous Version Docs</NavLink>
        </li>
        <li class="page-footer__right__list-item">
            <NavLink href="/">Blog</NavLink>
        </li>
        <li class="page-footer__right__list-item">
            <NavLink href="/">Contribute</NavLink>
        </li>
        <li class="page-footer__right__list-item">
            <NavLink href="/">Privacy & Cookies</NavLink>
        </li>
        <li class="page-footer__right__list-item">
            <NavLink href="/">Terms of Use</NavLink>
        </li>
        <li class="page-footer__right__list-item">
            <NavLink href="/">Trademarks</NavLink>
        </li>
        <li class="page-footer__right__list-item">
            <NavLink href="/">© Microsoft 2022</NavLink>
        </li>
    </ul>
</footer>

@code {

}
