@import "../Styles/Mixins.scss";

.page-footer {
    background-color: var(--clr-code-block);

    .container {
        @include flex(space-between);
        padding: 3.4em 1.2em;
    }

    &__left,
    &__right {
        &__list-item {
            display: inline-block;
            margin: .2em .5em;

            ::deep a {
                color: var(--clr-text);
            }
        }
    }

    &__left {
        &__list-item {
            border-radius: 2px;

            &:hover {
                background-color: #444;
            }

            ::deep a,
            ::deep button,
            ::deep .button {
                display: inline-block;
                padding: .2em .7em;
                flex: auto 1;
            }

            ::deep .custom-menu {
                @include flex();
                color: var(--clr-text);
                padding-left: .7em;

                .mud-button-root {
                    font-weight: 300;
                    text-transform: none;
                }
            }
        }
    }
}
